<section>
    <div class="jumbotron jumbotron-fluid" id="about">
    
       
        <div class="container jumbotron-text">
            <div class="row">
                <div class="offset-lg-2 col-lg-8">
                    <h1 class="title">Przemysław Przewoźnik</h1>
                    <p class="desc">Front-End Developer </p>
                </div>
            </div>
            <div class="row">
                <div class="offset-lg-4 col-lg-4 col-12">
                    <a href="https://github.com/przemo88?tab=repositories">
                    <i class="fa fa-github git link_icon"></i></a>
                    
                    <a href="https://www.linkedin.com/in/przemysław-przewoźnik-a57019122/">  
                    <i class="fa fa-linkedin-square link link_icon"></i></a>

                    <a href="mailto:kontakt@przemyslaw.przewoznik.pl"> 
                    <i class="fa fa-envelope  link_icon"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>