// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "mixin.scss";

img{
    width: 100%;
    margin: 0;
}

.form_text{
    text-align: center;
}

.chose{
    padding: 0;
    margin: 0;
    border: 1px solid green;
    background-color: blue;
}

.mt-50{
    margin-top: 50px;
}

.title{
    text-align: center;
    margin-top: 50px;
}

.text_area{
    height: 200px;
    resize: none;
}

#portfolio{
    margin-bottom: 150px;
}

.contact_title{
    @include technique;
    padding-top: 100px;
}

.margin_xl_top{
    margin-top: 150px;

    @media(max-width: 1140px) and (min-width: 769px){
        margin-top: 0;
    }

    @media(max-width: 768px){
        margin-top: 10px;
    }
}

.website{
   
    .sample_title{
        font-weight: bold;
        text-align: center;
    }

    &:nth-child(odd){
        margin-left: 5px;
    }
}

.sample_title{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.link{
    text-align: center;
}

.show{
    margin-top: 100px;
}

.show_title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.desc_style{
    margin-top: 25px;
    padding: 0;
    text-align: justify;
}

.delete_btn{
    text-align: center;
    margin-top: 25px;
}

ul{
    list-style: none;
}